<div class="container">

  <form class="form-signin" role="form">
    <input type="text" class="form-control" placeholder="用户名" required="" autofocus="" ng-model="user.username">
    <input type="password" class="form-control" placeholder="密码" required="" ng-model="user.password">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <div class="modal-footer-center">
      <button class="btn btn-primary" type="submit" ng-click="login(user)">登录</button>
      <button class="btn btn-success" type="submit">注册</button>
    </div>
  </form>

</div>
