<h1>{{today | date:'yyyy-MM-dd'}} 时间账单</h1>

<div class="toolbar">
  <button class="btn btn-success btn-sm" type="submit" ng-click="showAddBill()">
    <span class="glyphicon glyphicon-plus"></span>
    添加
  </button>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>类型</th>
      <th>描述</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>时长</th>
      <th width="140">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="timebill in timeBills">
      <td>{{timebill.typeName}}</td>
      <td>{{timebill.detail}}</td>
      <td>{{timebill.startTime}}</td>
      <td>{{timebill.endTime}}</td>
      <td>{{formatDurationTime(timebill.durationTime)}}</td>
      <td>
        <button class="btn btn-info btn-xs" type="submit" ng-click="showEditRecord(timebill.id)">
          <span class="glyphicon glyphicon-edit"></span>
          编辑
        </button>
        <button class="btn btn-danger btn-xs" type="submit" ng-click="showDeleteRecord(timebill.id)">
          <span class="glyphicon glyphicon-remove"></span>
          删除
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- add record modal -->
<div id="timeBillModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加一笔时间账</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="recipient-name" class="control-label col-sm-2">类型:</label>
            <div class="col-sm-10">
              <select id="type" class="form-control">
                <option ng-repeat="billType in billTypes" value="{{billType.id}}">{{billType.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label col-sm-2">描述:</label>
            <div class="col-sm-10">
              <textarea id="detail" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label col-sm-2">开始时间:</label>
            <div class="col-sm-10">
              <div class="input-append date form_datetime">
                <input id="start-time" class="form-control" size="16" type="text" ng-model="timeBill.startTime" readonly />
                <span class="add-on"><i class="icon-th"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label col-sm-2">结束时间:</label>
            <div class="col-sm-10">
              <input id="end-time" type="datetime-local" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label col-sm-2">时长:</label>
            <div class="col-sm-10">
              <inputid="duration-time" type="text" class="form-control" disabled >
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addRecord()">取消</button>
        <button type="button" class="btn btn-primary">添加</button>
      </div>
    </div>
  </div>
</div>
<script>
$(".form_datetime").datetimepicker({
    format: "yyyy-mm-dd hh:ii:ss"
});
</script>
