<!DOCTYPE html>
<html ng-app="timeBill">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />
    <title>时间账单</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/datetimepicker.css" />
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body ng-controller="ApplicationController">
      <div ui-view>

      </div>

      <script src="js/lib/jquery/jquery-1.11.0.min.js"></script>
      <script src="js/lib/angular/angular.js" ></script>
      <script src="js/lib/angular/angular-route.min.js" ></script>
      <script src="js/lib/angular-ui-router/angular-ui-router.min.js" ></script>
      <script src="js/lib/md5/angular-md5.js" ></script>
      <script src="js/lib/localstorage/ngStorage.js" ></script>
      <script src="js/app.js" ></script>
      <script src="js/services.js" ></script>
      <script src="js/controllers.js" ></script>
      <script src="js/user.js"></script>
      <script src="js/authenticate.js"></script>
      <script src="js/daily.js"></script>
      <script src="js/week.js"></script>
      <script src="js/month.js"></script>
      <script src="js/year.js"></script>
      <script src="js/all.js"></script>
      <script src="js/bill-type.js"></script>
      <script src="js/filters.js" ></script>
      <script src="js/directives.js" ></script>
      <script src="js/lib/moment/moment.js"></script>
      <script src="js/lib/bootstrap/bootstrap.min.js"></script>
      <script src="js/lib/bootstrap/dateTimeInput.js"></script>
      <script src="js/lib/bootstrap/datetimepicker.js"></script>
      <script src="js/lib/bootstrap/datetimepicker.templates.js"></script>
  </body>

</html>
