/* app css stylesheet */
.toolbar {
  margin: 20px 0;
}

.modal-footer-center {
  text-align: center;
}

.page-title {
  font-size: 32px;
}

.pT20 {
  padding-top: 20px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
